html {
    scroll-behavior: smooth;
}

:root {
    /* --debug-border: #31d43e solid 1px; */
    --debug-border: none;
    --button-turquoise: #15BBE5;
    --button-hover-turquoise: #b0d7ea;
    --my-turquoise: #2a9dcd;
    --hover-turquoise: #42cdf0;
}

body {
    font-family: Libre Franklin, sans-serif;
    font-size: 18px;
    /* font-family: Hanken Grotesk, sans-serif; */
    margin: 0px;
    padding: 0px;
    /* border: #31d43e solid 1px; */
    background-color: black;
    color: white;
    min-width: 690px;
}

/* .flex-container-center {
    display: flex;
    min-height: 600px;
    background-color: black;
    align-items: center; 
} */

.flex-container {
    display: flex;
    padding: 0px 70px 0px 70px;
    /* min-height: 600px; */
    background-color: black;
    align-items: flex-start;
    /* justify-items: center; */
}

/* .flex-container main {
    padding: 0;
}
.flex-container aside {
    padding: 0;
} */

.column {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.proj-container {
    display: flex;
    padding: 0px;
    /* min-height: 600px; */
    background-color: black;
    align-items: flex-start;
    /* justify-items: flex-start; */
}

.proj-container main {
    flex: 1;
}

.proj-container aside {
    flex: 6;
}

.proj-container img {
    width: 300px;
    height: auto;
    display: block;     /* Center horizontal */
    margin: auto;
}

.space {
    margin: 50px 0;
}

.hspace {
    margin: 0 50px;
}

.smallspace {
    margin: 15px 0;
}

.hsmallspace {
    margin: 15px 15px;
}

.bigbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: normal;
    font-size: 20px;
}

.bigbtn img {
    width: 40px;
    height: 40px;
}

.line {
    background-color: var(--button-turquoise);
    height: 2px;
    width: 50%;
    margin-left: auto;
}

header{           /* Varios elementos */
    background-color: black;
    color: white;
    padding: 0px 20px 0px 20px;
    text-align: left;
    /* border: #31d43e solid 1px; */
}

.cursive-header {
    font-family: 'Rock Salt', cursive;
    font-size: 17pt;
    font-weight: normal;
}

footer {
    /* background-color: var(--my-turquoise); */
    background-color: var(--my-turquoise);
    color: white;
    padding: 3px 20px 3px 20px;
    text-align: center;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: #f4f4f4 solid 1px; */
    gap: 45px;
    font-size: medium;
}  

nav a {
    color: white;
    margin: 0px 10px 0px 10px;  /* top right bottom left */
    align-items: center;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--hover-turquoise);
}

.header-container {
    display: flex;
    padding: 0px 10px 0px 10px;
    gap: 10px; /* Adds space between items */
}

main {
    flex: 2;
    background-color: black;
    padding: 5px 20px 5px 20px;
    border: var(--debug-border);
}

aside {
    flex: 2;
    padding: 5px 20px 5px 20px;
    border: var(--debug-border);
}

button {
    background-color: var(--button-turquoise);
    font-family: Libre Franklin, sans-serif;
    font-size: medium;
    color: black;
    border: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-turquoise);
}

@media (max-width: 1000px){      /* Sidebar se pone abajo si llego a menos de 600 */
    .flex-container {
        flex-direction: column;
    }
}